.container{
  width:800px;
}
p,h1{
  margin: 0;
}
.set img{
max-width: 800px;
width: 100%;
height: 300px;
}
.flex{
  display: flex;
  align-self: center;
  justify-content: center;
}
.widt img{
  width:250px;
  border: 1px solid black;
}